<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
 <head>
  <title>회원 등록</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#id_birthday" ).datepicker({dateFormat: 'yy-mm-dd'});
    $( "#id_joindate" ).datepicker({dateFormat: 'yy-mm-dd'});
    $( "#id_recentdate" ).datepicker({dateFormat: 'yy-mm-dd'});
  } );
  </script>
 </head>
 <body>
    <style type="text/css">
    .my_table {border-spacing:0px; border:0px solid #000;}
    .my_table td {padding:3px;}
    .my_table th {padding:3px;}
    </style>
    <table class="my_table">
     <tr>
         <td></td>
     </tr>
    </table>
   <form method="POST" class="sign-up-form">
       {%csrf_token%}
       <table align="center" class=my_table>
       <th colspan="2"><h2 class="sub-title">회원 등록</h2></th>
           {{ form.as_table }}
       <th colspan="2" class="text-right">
           <button type="submit" class="save btn btn-success">등록</button>
           <a class="btn btn-danger" onclick="history.back()">취소</a>
       </th>
       </table>
   </form>
  </div>
 </body>
</html>