{% extends 'member/base.html' %}
{% block content %}
<body>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <td><B><a href="/회원/이름/오름차순/"><font color="black">이름</font></a></B></td>
          <td><B><a href="/회원/성별/오름차순/"><font color="black">성별</font></a></B></td>
          <td><B><a href="/회원/생일/오름차순/"><font color="black">생일</font></a></B></td>
          <td><B><a href="/회원/거주지/오름차순/"><font color="black">거주지</font></a></B></td>
          <td><B><a href="/회원/직장/오름차순/"><font color="black">직장</font></a></B></td>
          <td><B><a href="/회원/가입일자/오름차순/"><font color="black">가입일자</font></a></B></td>
          <td><B><a href="/회원/최근활동일자/오름차순/"><font color="black">최근활동일자</font></a></B></td>{# <td><B>모임횟수</B></td> #}         
        </tr>
      </thead>
      <tbody>
        {% for member in members %}<tr>
          <td><B><a href="/회원/{{member.id}}/">{{member.name}}</a></B></td>
          <td><B>{{member.gender}}</B></td>
          <td><B>{{member.birthday}}</B></td>
          <td><B>{{member.homeplace}}</B></td>
          <td><B>{{member.workplace}}</B></td>
          <td><B>{{member.joindate}}</B></td>
          <td><B>{{member.recentdate}}</B></td>{# <td><B>{{member.times}}</B></td>--> #}
        </tr>{% endfor %}
      <tbody>
    </table>
    <a class="btn btn-primary pull-right" href="/회원/등록/" role="button">등록</a>
{% endblock %}